@font-face {
  font-family: "iconfont"; /* Project id 3736894 */
  src: url("iconfont.woff2?t=1668002051834") format("woff2"),
    url("iconfont.woff?t=1668002051834") format("woff"),
    url("iconfont.ttf?t=1668002051834") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-article:before {
  content: "\e7fd";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-icon-:before {
  content: "\e627";
}

.icon-zhedie:before {
  content: "\e690";
}

.icon-user1:before {
  content: "\e7ae";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-blog:before {
  content: "\e68e";
}

.icon-icon-article:before {
  content: "\e601";
}

.icon-monitor:before {
  content: "\e625";
}

.icon-category:before {
  content: "\e747";
}

.icon-comment:before {
  content: "\e68f";
}
