@charset "UTF-8";
/* 颜色 */
/* 标签的颜色 */
$tag-color-1: #15a287;
$tag-color-2: #5cb85c;
$tag-color-3: #d9534f;
$tag-color-4: #567e95;
$tag-color-5: #b433ff;
$tag-color-6: #00a67c;
$tag-color-7: #b37333;
$tag-color-8: #f60;
$tag-color-9: #4a4a4a;

/* 字体大小 */
$f12: 12px;
$f14: 14px;
$f10: 10px;
$f18: 18px;
$f20: 20px;
$f22: 22px;
$f24: 24px;
$f26: 26px;
$f28: 28px;

/* margin */
$m10: 10px;
$m15: 15px;
$m20: 20px;
$m25: 25px;
$m30: 30px;
$m35: 35px;
$m40: 40px;
$m45: 45px;
$m50: 50px;
$m55: 55px;